# Agent Instructions

This project follows [Punt Labs standards](https://github.com/punt-labs/punt-kit).

## Standards References
{% for ref in standards_refs -%}
- [{{ display_names[ref] }}](https://github.com/punt-labs/punt-kit/blob/main/standards/{{ ref }}.md)
{% endfor -%}
